{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center" style="margin-top: 15%; padding: 20px;">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/404.jpg' %}" alt="404 Not Found" class="img-fluid mb-4" style="max-width: 400px;">
            <h4 class="text-md h5-sm">Lost and Found Department</h4>
            <p class="lead mt-4">Oops! Looks like you've wandered off the beaten path.</p>
            <p class="lead">But don't worry, we've sent out a search party!</p>
            <p>In the meantime, why not check out our latest products ? </p>
            <a href="{% url 'index' %}" class="btn btn-dark btn-lg mt-3">
                <i class="fas fa-home"></i> ITI Shop
            </a>
        </div>
    </div>
</div>
{% endblock %}
