{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center" style="margin-top: 10%; padding: 20px;">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'images/500.jpg' %}" alt="500 Server Error" class="img-fluid mb-4" style="max-width: 400px;">
            <h4 class="text-md h5-sm">Something went wrong on our end!</h4>
            <p class="lead mt-4">Our tech team is already working to fix it.</p>
            <p class="lead">Please hang tight or try refreshing the page.</p>
            <p>In the meantime, you can head back to our homepage and continue shopping.</p>
            <a href="{% url 'home' %}" class="btn btn-warning btn-lg mt-3">
                <i class="fas fa-home"></i> ITI Shop
            </a>
        </div>
    </div>
</div>
{% endblock %}