{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="jumbotron" style="margin-top :20%; border: 2px solid black;">
    <h3 style="text-align: center;">Thank you for subscribing to our Newsletter</h3>
    <hr class="my-4">
  </div>
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h5>Stay Updated with Our Latest News!</h5>
            <p class="lead"> Never miss out on our exclusive offers, latest arrivals, and fashion tips.</p>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="col-md-4">
            <i class="fas fa-tag fa-3x"></i>
            <h4>Exclusive Discounts</h4>
            <p>Get access to special deals and discounts available only to our subscribers.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-bell fa-3x"></i>
            <h4>Early Access</h4>
            <p>Be the first to know about our new arrivals and sales.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-tshirt fa-3x"></i>
            <h4>Fashion Tips</h4>
            <p>Receive styling advice and fashion tips from our experts.</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col-12">
                <h5>What Our Subscribers Are Saying</h5>
            </div>
        </div>
    <div class="row align-items-center mt-4">
        <div class="col-md-4 col-12 text-center mb-3 mb-md-0">
            <img src="{% static 'images/thank-you.jpg' %}" alt="Thank you for shopping with us" class="img-fluid" style="width:100%;">
        </div>
        <div class="col-md-8 col-12">
            <blockquote class="blockquote text-md-left text-center">
                <p class="mb-0">"I love getting early access to sales and the exclusive discounts are amazing!"</p>
                <footer class="blockquote-footer">Jane Doe</footer>
            </blockquote>
            <blockquote class="blockquote text-md-left text-center">
                <p class="mb-0">"The fashion tips are always on point and have helped me style my outfits better."</p>
                <footer class="blockquote-footer">J.S.</footer>
            </blockquote>
        </div>
    </div>

  <div class="row mt-5 mb-5">
      <div class="col text-center">
          <h6>Don't Miss Out!</h6>
          <p>We respect your privacy and promise not to spam you.</p>
          <a href="{% url 'products' %}" class="btn btn-dark rounded my-2" style="margin:auto;">
            <span class="text-uppercase content-font">Back to Shopping</span>
        </a>
      </div>
  </div>
</div>
</div>
{% endblock %}
