{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron" style="margin-top: 20%; border: 2px solid black;">
    <h3 class="text-center">Thank you for subscribing to our Newsletter</h3>
    <h6 style="text-align:center ; padding-top:20px;">You will receive the confirmation Email shortly</h6>
    <hr class="my-4">
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h5>Stay Updated with Our Latest News!</h5>
            <p style="font-size: 80%;" class="lead">Never miss out on our exclusive offers, latest arrivals, and fashion tips.</p>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="col-md-4 mb-4 mb-md-0">
            <i class="fas fa-tag fa-3x"></i>
            <h5>Exclusive Discounts</h5>
            <p style="font-size: 80% !important;">Get access to special deals and discounts available only to our subscribers.</p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <i class="fas fa-bell fa-3x"></i>
            <h5>Early Access</h5>
            <p  style="font-size: 80% !important;">Be the first to know about our new arrivals and sales.</p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <i class="fas fa-tshirt fa-3x"></i>
            <h5>Fashion Tips</h5>
            <p style="font-size: 80% !important;">Receive styling advice and fashion tips from our experts.</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-4 col-12 text-center mb-4 mb-md-0">
                <img src="{% static 'images/thanks.jpg' %}" alt="Thank you for shopping with us" class="img-fluid">
            </div>
            <div class="col-md-8 col-12">
                <div class="row text-center text-md-left">
                    <div class="col-12">
                        <h5 style="text-align: center;">What Our Subscribers Are Saying</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <blockquote class="blockquote">
                            <p class="mb-0"  style="font-size: 80% !important;">"I love getting early access to sales and the exclusive discounts are amazing!"</p>
                            <footer class="blockquote-footer">Jane Doe</footer>
                        </blockquote>
                        <blockquote class="blockquote">
                            <p class="mb-0"  style="font-size: 80% !important;">"The fashion tips are always on point and have helped me style my outfits better."</p>
                            <footer class="blockquote-footer">J.S.</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col text-center">
            <h5>Don't Miss Out!</h5>
            <p class="lead"  style="font-size: 80% !important;">We respect your privacy and promise not to spam you.</p>
            <a href="{% url 'products' %}" class="btn btn-dark rounded my-2">
                <span class="text-uppercase">Back to Shopping</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
