{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="jumbotron" style="margin-top :20%;">
    <h1 class="display-4">Thank you for subscribing to our Newsletter</h1>
    <p class="lead">You will receive a confirmation Email shortly .</p>
    <hr class="my-4">
    <p>Stay updated with our latest news and special offers!</p>
    <a href="{% url 'products' %}" class="btn btn-dark rounded my-2">
        <span class="text-uppercase content-font">Keep Shopping</span>
    </a>
  </div>
{% endblock %}