<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Quantity input
    $('.qty_input').on('input', function () {
    let itemId = $(this).data('item_id');
    let currentValue = parseInt($(this).val());

    if (currentValue > 99) {
        $(this).val(99);
    }

        handleEnableDisable(itemId);
    });
    
    //Increment button
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        let itemId = $(this).data('item_id');

        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];

        let currentValue = parseInt($(closestInput).val());

        if (currentValue < 99) {
            $(closestInput).val(currentValue + 1);
            handleEnableDisable(itemId);
        }
    });
    
    // Decrement button 
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        let itemId = $(this).data('item_id');

        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];

        let currentValue = parseInt($(closestInput).val());

        if (currentValue > 1) {
            $(closestInput).val(currentValue - 1);
            handleEnableDisable(itemId);
        }
    });
</script>